* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: relative;
    top: 3rem;
    font-family: felt-tip-senior, sans-serif;
    color: #d3d3d3;
    text-shadow: #3d3d3d 0.05em 0.05em 0.05em;
}

a {
    text-decoration: none;
    color: #3d3d3d;
    text-shadow: #d3d3d3 0.05em 0.05em 0.05em;
}

h1 {
    font-size: 1.5rem;
    font-family: felt-tip-senior, sans-serif;
    letter-spacing: 1rem;
    color: #d3d3d3;
    text-shadow: #3d3d3d 0.05em 0.05em 0.05em;
}

h2 {
    margin: 0.75rem 0 0 0;
    font-size: 4rem;
    text-transform: uppercase;
}

p {
    margin: 0;
    font-weight: 700;
}

#nametag-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 350px;
    background: #d3d3d3;
    align-content: center;
    justify-content: center;
    text-align: center;
    box-shadow: #3d3d3d 0.75em 0.75em 0.75em, #3d3d3d -0.25em -0.25em 0.75em;
}


#user-input {
    margin: 3rem;
}

input:placeholder-shown {
    text-align: center;
} 

.top {
    width: 97%;
    height: 35%;
    background: red;
    border-radius: 1em 1em 0 0;
    font-family: 'korolev', sans-serif;
    color: white;
    letter-spacing: 0.5rem;
}

.top > span {
    position: relative;
    bottom: 75px;
    left: 165px;
    font-size: 3rem;
}

.mid {
    display: flex;
    width: 97%;
    height: 45%;
    background: white;
    color: #3d3d3d;
    font-family: felt-tip-senior, sans-serif;
    font-size: 5rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btm {
    width: 97%;
    height: 15%;
    background: red;
    border-radius: 0 0 1em 1em;
}

#name-name {
    max-width: 100%;
}